* {
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  margin: 0 auto;
  max-height: 2300px;
}
body {
  color: black;
  text-align: center;
}
hr {
  max-width: 100px;
}
img {
  max-height: 475px;
  max-width: 400px;
  }
h5 {
  font-style: italic;
}
h6 {
  border-style: solid;
  border-width: thick;
  border-color: black;
  background-color: black;
  color: white;
  border-width: 22px;
  max-height: 475px;
  max-width: 335px;
  text-align: left;
}
main {
  display: grid;
  grid-gap: 20px;
  background-image: url("file:///Users/treyweathers/Downloads/istockphoto-1363097186-612x612.jpg");
  background-blend-mode: screen;
  color: black;
}
h1, footer {
  background-image: url("file:///Users/treyweathers/Downloads/istockphoto-1363097186-612x612.jpg");
  color: darkgray;
  font-weight: bold;
  text-align: center;
}
h1 {
  border-style: groove;
  border-width: 5px;
  border-color: darkgray;
  max-width: 475px;
  border-radius: 50%;
  color: black;
}
button {
  background-color: transparent;
  color: whitesmoke;
  width: 150px;
  height: 40px;
  border-width: medium;
}
a {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
}
li {
  display: inline-block;
}
.news-txt {
  z-index: 10;
  color: whitesmoke;
}
.news {
  border-style: solid;
  border-width: thick;
  border-color: whitesmoke;
  background-color: whitesmoke;
  color: black;
  border-width: 17px;
  min-width: 400px;
  max-height: 474px;
  margin: 3%;
  position: relative;
  padding: 0px;
  justify-content: center;
  right: 12px;
}
.archent-txt {
  text-decoration: none;
}
.about-txt {
  position: absolute;
  bottom: 50px;
  left: 95px;
  top: 75px; 
  color: whitesmoke;
}
.about {
  border-style: solid;
  border-width: thick;
  border-color: lightgray;
  background-color: whitesmoke;
  color: whitesmoke;
  border-width: 17px;
  position: relative;
  min-width: 400px;
  max-width: 400px;
  max-height: 267px;
  margin: 3%;
  right: 12px;
}
.crown {
  border-style: solid;
  border-width: thick;
  border-color: whitesmoke;
  background-color: whitesmoke;
  color: black;
  border-width: 17px;
  position: relative;
  min-width: 400px;
  max-width: 400px;
  margin: 3%;
  justify-content: center;
  right: 12px;
}
.urban {
  border-style: solid;
  border-width: thick;
  border-color: whitesmoke;
  background-color: whitesmoke;
  color: black;
  border-width: 17px;
  position: relative;
  min-height: 320px;
  min-width: 400px;
  max-width: 400px;
  margin: 3%;
  right: 10px;
  z-index: 1;
}
.urban>img {transition: all 0.5s ease}
.urban:hover>img {
  opacity:1.5;
  -webkit-filter:grayscale(.7);
}
.urban>div {
  opacity:0; transition: all 0.5s ease;
  position:absolute; bottom:0;
}
.urban:hover>div {
  opacity:1;
}
.villa {
  border-style: solid;
  border-width: thick;
  border-color: whitesmoke;
  background-color: lightgray;
  color: black;
  border-width: 17px;
  position: relative;
  min-width: 400px;
  max-width: 400px;
  margin: 3%;
  right: 10px;
  z-index: 10;
}
.villa-txt {
  color: black;
}
.lux-txt {
  text-align: left;
  margin: 3%;
}
.lux {
  border-style: solid;
  border-width: thick;
  border-color: darkgray;
  background-color: grey;
  color: black;
  border-width: 17px;
  position: relative;
  min-width: 400px;
  max-width: 400px;
  margin: 3%;
  right: 10px;
}
.science {
  border-style: solid;
  border-width: thick;
  background-color: lightgray;
  border-color: gray;
  color: black;
  border-width: 17px;
  position: relative;
  min-width: 400px;
  max-width: 400px;
  margin: 3%;
  right: 10px;
}
.visang {
  border-style: solid;
  border-width: thick;
  border-color: whitesmoke;
  background-color: transparent;
  color: black;
  border-width: 17px;
  position: relative;
  min-width: 400px;
  max-width: 400px;
  margin: 3%;
  right: 10px;
}
.contact-txt {
  position: relative;
  bottom: 220px;
  left: 0px;
  z-index: 10;
  margin: 3%;
  color: whitesmoke;
}
.contact {
  border-style: solid;
  border-width: thick;
  border-color: whitesmoke;
  background-color: whitesmoke;
  color: whitesmoke;
  border-width: 17px;
  position: relative;
  min-width: 400px;
  max-width: 400px;
  max-height: 267px;
  margin: 3%;
  right: 10px;
}
.crown-button {
  color: black;
  font-weight: bolder;
}
.button-click {
  position: relative;
  color: whitesmoke;
  top: 90px;
  left: 120px;
  z-index: 10;
}
.more-photos {
  position: relative;
  color: whitesmoke;
  bottom: 20px;
}
@media screen and (min-width: 600px) {
  h1 {
    margin-top: 15px;
    color: black;
    border-color: transparent;
    text-decoration: overline;
  }
  body {
    max-height: 2000px;
  }
  main {
    display: grid;
    grid-gap: 7px;
  }
  .news {
    top:330px;
    right: 20px;
    left: 45px;
    border-style: none;
    z-index: 10;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    min-width: 450px;
    background-color: whitesmoke;
  }
  .news-txt {
    bottom: 10px;
    left: 290px;
    top: 107px;
    z-index: 10;
    color: lightgray;
    border-style: double;
    border-width: thick;
    border-color: whitesmoke;
  }
  .about {
    left: 215px;
    bottom: 240px;
    border-color: lightgray;
    background-color: transparent;
    border-width: 8px;
  }
  .about-txt {
    position: absolute;
    bottom: 80px;
    left: 95px;
    top: 50px; 
    color: whitesmoke;
  }
  .crown{
    right: 240px;
    bottom: 552px;
    z-index: 10;
    border-color: lightgray;
    background-color: transparent;
    z-index: 100;
    border-width: 12px;
  }
  .lux {
    bottom: 1325px;
    left: 215px;
    z-index: 1;
    border-color: darkgray;
    background-color: grey;
    color: black;
    border-width: 8px;
  }
  .urban {
    bottom: 330px;
    right: 240px;
    border-color: lightgray;
    background-color: whitesmoke;
    border-width: 8px;
  }
  .science {
    bottom: 1555px;
    right: 240px;
    background-color: lightgray;
    border-color: black;
    z-index: 10;
    border-width: 7px;
  }
  .villa {
    right: 240px;
    border-color: lightgray;
    top: 270px;
    border-width: 5px;
  }
  .visang {
    bottom: 1500px;
    left: 215px;
    border-color: darkgray;
    background-color: transparent;
    border-width: 8px;
  }
  .contact {
    bottom: 2050px;
    background-color: transparent;
  }
  img {
    width: 375px;
  }
}
@media screen and (min-width: 1250px) {
  body {
    max-height: 2400px;
    background-image: url("file:///Users/treyweathers/Downloads/istockphoto-1363097186-612x612.jpg");
    background-blend-mode: center center;
    background-size: contain;
  }
  h1 {
    text-align: left;
    right: 540px;
    top: 150px;
    position: relative;
    background-image: none;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    max-width: 250px;
    text-decoration: none;
  }
  footer {
    text-decoration: none;
    text-align: left;
    color: black;
    font-weight: bold;
  }
  .grid-container {
    display: grid;
    grid-gap: 80px;
    margin: 10%;
    grid-template-columns: 80px fr 80px;
    grid-template-rows: 60px 1fr 60px;
    background-image: url("file:///Users/treyweathers/Downloads/istockphoto-1363097186-612x612.jpg");
  }
  .grid-header {

  }
  .grid-news {
    grid-area: ;
  }
  .grid-urban {

  }
  .grid-crown {

  }
  .grid-contact {

  }
  .grid-about {

  }
  .grid-visang {

  }
  .grid-villa {

  }
  .grid-lux {

  }
  .grid-science {

  }
  .news {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: transparent;
    z-index: 10;
    min-height: 250px;
    min-width: 375px;
  }
  .about {
    border-color: lightgray;
    background-color: whitesmoke;
    min-height: 275px;
  }
  .crown {
    z-index: 10;
    border-color: black;
    background-color: transparent;
  }
  .lux {
    z-index: 1;
    border-color: black;
    background-color: grey;
    color: black;
    border-width: 4px;
    min-height: 750px;
  }
  .urban {
    border-color: lightgray;
    background-color: whitesmoke;
  }
  .science {
    background-color: lightgray;
    border-color: gray;
    z-index: 100;
  }
  .villa {
    border-color: lightgray;
    border-width: 5px;
    min-height: 400px;
  }
  .visang {
    border-color: whitesmoke;
    background-color: transparent;
    border-radius: 50%;
  }
  .contact {
    background-color: whitesmoke;
    border-width: 8px;
    border-color: black;
    z-index: 10;
  }
}